 <!-- Post preview-->
 <% if(postData.length === 0){%>
  <div class="post-preview">
    <h2 class="post-title">
      <%= blogData.title %>
  </div>
  <form action="/" method="POST">
    <button class="mb-5" name="writeEntrie" value="newEntrie">Escribir Entrada</button>
  </form>
<% }else{ %>
 <% postData.slice().reverse().forEach(post =>{ %>
  <div class="post-preview">
    <form action="/" method="POST">
      <button type="submit" name="id" value="<%= [post.id, post.postTitle] %>" class="btn-link text-start ">
        <h2 class="post-title">
          <%= post.postTitle %>
        </h2>
        <h3 class="post-subtitle">
          <%= post.postSubtitle %>
        </h3>
      </button>
    </form>
    <p class="mb-1 mt-1"><%= post.content.slice(0, 60) %>...</p>
    <p class="post-meta">
      Posted by
      <a href=<%= post.web %> target="_blank"><%= post.author %></a>
      on <%= post.postDate %>
    </p>
  </div>
  <hr class="my-4" />
 <%})%>
 <% } %>
 